<div class="container-fluid">
  <div class="w-100 mt-4 mb-4 text-center">
    <img class="thumbnail" src="assets/images/hhtcc_logo.png" />
  </div>
  <form #form="ngForm">
    <div class="card border-success mb-4">
      <div class="card-header bg-transparent border-success">
        {{ 'PAGES.HOME.LABELS.BASIC_INFORMATION' | translate }}
      </div>
      <div class="card-body text-success">
        <div class="form-group row">
          <strong class="d-block mb-2 col-sm-12 required">
            {{ 'PAGES.HOME.LABELS.VEHICLE' | translate }}
          </strong>
          <div class="col-sm-12">
            <input
              class="form-control"
              name="vehicle"
              [(ngModel)]="reportOptions.vehicle"
              #vehicle="ngModel"
              placeholder="{{ 'PAGES.HOME.PLACEHOLDERS.VEHICLE' | translate }}"
              required
              [ngClass]="{
                'is-invalid': vehicle.dirty && vehicle.errors
              }"
            />
            <div
              *ngIf="vehicle.dirty && vehicle.errors"
              class="invalid-feedback"
            >
              {{
                'COMMON.VALIDATION.REQUIRED'
                  | translate
                    : { element: 'PAGES.HOME.LABELS.VEHICLE' | translate }
              }}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <strong class="d-block mb-2 col-sm-12 required">
            {{ 'PAGES.HOME.LABELS.PROJECT' | translate }}
          </strong>
          <div class="col-sm-12">
            <input
              class="form-control"
              name="project"
              [(ngModel)]="reportOptions.project"
              #project="ngModel"
              placeholder="{{ 'PAGES.HOME.PLACEHOLDERS.PROJECT' | translate }}"
              required
              [ngClass]="{
                'is-invalid': project.dirty && project.errors
              }"
            />
            <div
              *ngIf="project.dirty && project.errors"
              class="invalid-feedback"
            >
              {{
                'COMMON.VALIDATION.REQUIRED'
                  | translate
                    : { element: 'PAGES.HOME.LABELS.PROJECT' | translate }
              }}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <strong class="d-block mb-2 col-sm-12 required">
            {{ 'PAGES.HOME.LABELS.COMPANY' | translate }}
          </strong>
          <div class="col-sm-12">
            <input
              class="form-control"
              name="company"
              [(ngModel)]="reportOptions.company"
              #company="ngModel"
              placeholder="{{ 'PAGES.HOME.PLACEHOLDERS.COMPANY' | translate }}"
              required
              [ngClass]="{
                'is-invalid': company.dirty && company.errors
              }"
            />
            <div
              *ngIf="company.dirty && company.errors"
              class="invalid-feedback"
            >
              {{
                'COMMON.VALIDATION.REQUIRED'
                  | translate
                    : { element: 'PAGES.HOME.LABELS.COMPANY' | translate }
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card border-primary mb-4">
      <div class="card-header bg-transparent border-primary">
        {{ 'PAGES.HOME.LABELS.INPUT_DIRECTORIES' | translate }}
      </div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="d-flex align-items-center">
              <button
                type="button"
                class="btn btn-success"
                (click)="selectDirectories()"
              >
                <i class="fas fa-folder-plus"></i>
                {{ 'COMMON.SELECT' | translate }}
              </button>
              <button
                type="button"
                class="btn btn-danger ml-2"
                (click)="deleteAllDirectories()"
                *ngIf="reportOptions.selectedDirectories?.length"
              >
                <i class="far fa-trash-alt"></i>
                {{ 'COMMON.DELETE_ALL' | translate }}
              </button>
              <button
                type="button"
                class="btn btn-outline-primary ml-2"
                [ngSwitch]="selectedSortType"
                (click)="changeSortType()"
              >
                <i
                  *ngSwitchCase="SORT_TYPE.ASC"
                  class="fas fa-sort-alpha-down text-success fa-lg"
                  ngbTooltip="{{ 'PAGES.HOME.TOOLTIPS.SORT_ASC' | translate }}"
                ></i>
                <i
                  *ngSwitchCase="SORT_TYPE.DESC"
                  class="fas fa-sort-alpha-up text-danger fa-lg"
                  ngbTooltip="{{ 'PAGES.HOME.TOOLTIPS.SORT_DESC' | translate }}"
                ></i>
                <i
                  *ngSwitchDefault
                  class="far fa-user"
                  ngbTooltip="{{ 'PAGES.HOME.TOOLTIPS.SORT_USER' | translate }}"
                ></i>
              </button>
            </div>
            <ul
              class="list-group mt-2"
              cdkDropList
              (cdkDropListDropped)="drop($event)"
            >
              <li
                cdkDrag
                class="list-group-item d-flex align-items-center"
                name="selectedDirectories"
                *ngFor="
                  let directory of reportOptions.selectedDirectories;
                  let i = index
                "
              >
                <div class="hhtcc-drag-placeholder" *cdkDragPlaceholder></div>
                <div class="flex-grow-1">
                  {{ directory }}
                </div>
                <div>
                  <a
                    *ngIf="!execDirectory(directory)"
                    href="#"
                    (click)="(false)"
                  >
                    <i
                      class="fas fa-exclamation-circle text-danger"
                      ngbTooltip="{{
                        'PAGES.HOME.VALIDATIONS.DIRECTORY_NOT_MATCH' | translate
                      }}"
                    ></i>
                  </a>
                  <a href="#" (click)="deleteDirectory(i); (false)" class="ml-2"
                    ><i class="far fa-trash-alt"></i
                  ></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card border-warning mb-4">
      <div
        class="card-header bg-transparent border-warning procedure d-flex justify-content-between align-items-center"
        data-toggle="collapse"
        href="#procedure"
        role="button"
        aria-expanded="false"
        aria-controls="procedure"
      >
        {{ 'PAGES.HOME.LABELS.PROCEDURE' | translate }}
        <i class="fas fa-chevron-circle-right text-warning"></i>
        <i class="fas fa-chevron-circle-down text-warning"></i>
      </div>
      <div class="card-body text-warning collapse" id="procedure">
        <div
          class="form-group row"
          *ngFor="let step of [1, 2, 3, 4]; let i = index"
        >
          <strong class="d-block mb-2 col-sm-12 required">
            {{ 'COMMON.STEP_INDEX' | translate: { index: i + 1 } }}
          </strong>
          <div class="col-sm-12">
            <input
              class="form-control"
              name="step_{{ i }}"
              [(ngModel)]="reportOptions.steps[i]"
              #step="ngModel"
              placeholder="{{
                'COMMON.STEP_INDEX' | translate: { index: i + 1 }
              }}"
              required
              [ngClass]="{
                'is-invalid': step.dirty && step.errors
              }"
            />
            <div *ngIf="step.dirty && step.errors" class="invalid-feedback">
              {{
                'COMMON.VALIDATION.REQUIRED'
                  | translate
                    : {
                        element:
                          'COMMON.STEP_INDEX' | translate: { index: i + 1 }
                      }
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <button
          type="button"
          class="btn btn-primary mb-4"
          (click)="validate()"
          [disabled]="
            form.invalid ||
            !reportOptions.selectedDirectories ||
            !reportOptions.selectedDirectories?.length
          "
        >
          <span
            *ngIf="createDocxLoading"
            class="spinner-border spinner-border-sm mr-2"
            role="status"
            aria-hidden="true"
          ></span>
          <i class="far fa-file-word"></i>
          {{ 'PAGES.HOME.BUTTONS.CREATE_DOCX' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
